In [ ]:
def mul_by_num(num):
    return lambda n: n*num
    
x = mul_by_num(5)
y = mul_by_num(2)
x(3)
y(-4)

### Fibonacci Series

In [ ]:
def fib(num):
    y = [0,1]
    if num <= 1:  
       return num
    else:
        any((map(lambda _: y.append(sum(y[-2:])), range(2, num)))
        return y[:num]


x= int(input("Enter the Value of N for Fibonacci Series: "))
fib(x)

### Page Check

In [ ]:
import urllib.request
url_check = input("Enter the complete URL: ")
try:
    with urllib.request.urlopen(url_check) as res:
        print("Response code: {}".format(res.code))
        if (res.code != 200):
            print("The WebPage is Not Available")
        else:
            print("The WebPage is available")
except:
    print("The Website is invalid")

### Weather Map

In [ ]:
import requests
import pandas as pd
from pandas.io.json import json_normalize
city = input("Enter the City: ")
print(city + ' .... OK!')
url = 'http://api.openweathermap.org/data/2.5/weather?q={}&APPID=b35975e18dc93725acb092f7272cc6b8'.format(city)
results = requests.get(url).json()
#results
temperature = str(round(float(results['main']['temp'])-273.15))
wind_spd = str(results['wind']['speed'])
description = str(results['weather'][0]['description'])
weather = str(results['weather'][0]['main'])
print("Temperature: {}Â°C\n Wind Speed: {} m/s\n Description: {}\n Weather: {}".format(temperature,wind_spd,description,weather))

In [ ]:
pip install xmltodict

### Convert XML to JSON and CSV

In [2]:
import xmltodict
import json
import csv
import pandas as pd
with open('people.xml') as in_file:
    xml = in_file.read()

#### Convert to JSON

In [3]:
with open('people.json', 'w') as out_file:
    json.dump(xmltodict.parse(xml), out_file)

In [4]:
with open('people.json') as json_data:
    details = json.load(json_data)
user_data = details['State']['Resident']
user_data[0]

{'@Id': '100',
 'Name': 'Sample Name',
 'PhoneNumber': '12345642357891',
 'EmailAddress': 'sample_name@example.com',
 'Address': {'StreetLine1': 'Street Line1',
  'City': 'City Name',
  'StateCode': 'AE',
  'PostalCode': '12345'}}

### Convert JSON to DataFrame

In [6]:
# define the dataframe columns
column_names = ['ID', 'Name', 'PhoneNumber', 'EmailAddress', 'Address', 'City', 'StateCode', 'PostalCode'] 

# instantiate the dataframe
user_details = pd.DataFrame(columns=column_names)
for data in user_data:
    ID = data['@Id']
    user_name = data['Name']
    user_ph = data['PhoneNumber']    
    user_email = data['EmailAddress']
    user_address = data['Address']['StreetLine1']
    user_city = data['Address']['City']
    user_state = data['Address']['StateCode']
    user_post = data['Address']['PostalCode']
    
    user_details = user_details.append({'ID': ID,
                                          'Name': user_name,
                                          'PhoneNumber': user_ph,
                                          'EmailAddress' : user_email,
                                          'Address': user_address,
                                          'City': user_city,
                                          'StateCode': user_state,
                                          'PostalCode': user_post}, ignore_index=True)
user_details

,ID,Name,PhoneNumber,EmailAddress,Address,City,StateCode,PostalCode
0,100,Sample Name,12345642357891,sample_name@example.com,Street Line1,City Name,AE,12345
1,101,Sample Name1,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
2,103,Sample Name2,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
3,104,Sample Name3,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
4,105,Sample Name4,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
5,106,Sample Name5,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
6,107,Sample Name6,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666
7,2000,Sample Name7,1234567891,sample_name1@example.com,Current Address,Los Angeles,CA,56666

#### Convert to CSV

In [8]:
user_details.to_csv('people.csv')

In [14]:
csv_obj = pd.read_csv('people.csv')
print(type(csv_obj))

<class 'pandas.core.frame.DataFrame'>